<header id="header">
    <div class="border-gradient">
       <div class="container h100">
           <div class="row h100">

               <div id="nombre-sitio" class="col-sm-6 col-md-6 h100">
                   <!-- NOMBRE DEL SITIO -->
                   <a href="#">
                       <h1>GRA-BA</h1>
                   </a>
               </div>

               <div id="logo-sitio" class="col-sm-6 col-md-6 h100">
                   <!-- LOGO -->
                   <div class="w100 h100 float-right display-table">
                       <div class="display-table-cell vertical-align-middle">
                           <a href="http://disfrutemosba.buenosaires.gob.ar" style="text-decoration: none;">
                               <div id="ba-logo" class="navbar-brand bac-header" data-original-title="" title=""></div>
                           </a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestión de activos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Agregar activo</a></li>
                  <li><a href="#">Buscar persona</a></li>
                  <li><a href="#">Lista de activos</a></li>
                  <li><a href="#">Estadísticas de activos</a></li>
                  <li><a href="#">Reporte de activos</a></li>
                </ul>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Intranet <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Administrar usuarios</a></li>
                  <li><a href="#">Administrar menús de usuarios</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recursos humanos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Calendario RRHH</a></li>
                  <li><a href="#">Lista de personas</a></li>
                  <li><a href="#">Lista de licencias</a></li>
                  <li><a href="#">Generar lista movilidad</a></li>
                  <li><a href="#">Listado de bajas</a></li>
                  <li><a href="#">Panel de feedbacks</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">STM <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Agregar dispositivo</a></li>
                  <li><a href="#">Entregar dispositivo</a></li>
                  <li><a href="#">Lista de dispositivos</a></li>
                  <li><a href="#">Reportar incidencia</a></li>
                  <li><a href="#">Buscar persona</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Asociados urbanos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Administración de asociados</a></li>
                  <li><a href="#">Entregar dispositivo</a></li>
                  <li><a href="#">Asignaciones de grupos</a></li>
                  <li><a href="#">Adm. de parametría</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Supervisor <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Adm. ausencia general</a></li>
                  <li><a href="#">Adm estado zonas</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Perfiles</a></li>
                  <li><a href="#">Organizaciones</a></li>
                  <li><a href="#">Tipo de organizaciones</a></li>
                  <li><a href="#">Asignaciones POU</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Presentismo</a></li>
                  <li><a href="#">Pagos</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
</header>
